/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  background-color: #343433; }

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden; }

.hero {
  height: 500px;
  width: 100%;
  min-width: 400px;
  background-image: url("../img/viewpoint2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 2rem;
  padding-top: 4rem; }
  @media (min-width: 968px) {
    .hero {
      height: 100vh;
      padding-top: 4rem; } }

.hero-overlay {
  position: relative;
  top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  width: 90%;
  min-height: 200px;
  margin: 0 auto; }
  @media (min-width: 968px) {
    .hero-overlay {
      top: -4px;
      height: 80%;
      min-height: 300px; } }
  @media (max-width: 550px) {
    .hero-overlay {
      margin-left: 3%;
      top: 100px; } }

.hero-text {
  position: relative;
  font-size: 4.5rem;
  text-shadow: 2px 4px 3px black;
  text-align: center;
  position: relative;
  top: 10px; }
  @media (min-width: 968px) {
    .hero-text {
      font-size: 7rem;
      top: -30px; } }
  @media (max-width: 550px) {
    .hero-text {
      font-size: 3.1em;
      top: 3px; } }

#nav-list {
  display: flex;
  position: relative;
  top: -60px;
  text-shadow: 1px 2px 1px black; }
  #nav-list li {
    font-size: 1.2rem;
    margin: 2px 15px; }
    @media (min-width: 968px) {
      #nav-list li {
        font-size: 1.5rem;
        position: relative;
        top: 10px;
        margin: 2px 20px; } }
    @media (max-width: 550px) {
      #nav-list li {
        font-size: .9rem;
        margin: 2px 10px; } }

.nav-bar {
  display: flex;
  justify-content: space-around;
  max-width: 900px;
  margin: 30px auto; }

@media (min-width: 968px) {
  .nav-bar ul {
    display: flex;
    align-items: center; }

  .nav-bar li {
    padding: 25px;
    font-family: Garamond, Georgia, serif;
    font-size: .9rem;
    letter-spacing: 2px;
    line-height: 75%; }
    .nav-bar li:hover {
      color: #22d62e;
      cursor: pointer; } }
.c-oregon, .s-oregon {
  height: 420px;
  width: 96%;
  margin: 2%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 20px; }
  .c-oregon:hover, .s-oregon:hover {
    transition-duration: .3s; }
    .c-oregon:hover .icon-bg, .s-oregon:hover .icon-bg {
      cursor: pointer;
      transform: scale(1.3);
      transition: all .2s ease-in-out; }

.s-oregon {
  background-image: url("../img/winter1.jpg"); }
  @media (min-width: 968px) {
    .s-oregon {
      width: 96%; } }
  @media (min-width: 1500px) {
    .s-oregon {
      width: 46%; } }

.e-oregon, .sw-washington, .portland, .col-gorge {
  height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 20px;
  margin: 2%; }
  .e-oregon:hover .icon-bg, .sw-washington:hover .icon-bg, .portland:hover .icon-bg, .col-gorge:hover .icon-bg {
    cursor: pointer;
    transform: scale(1.3);
    transition: all .2s ease-in-out; }

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 1% auto;
  justify-content: space-around;
  width: 100vw; }

.e-oregon {
  background-image: url("../img/hiking1.jpg");
  width: 96%; }
  @media (min-width: 968px) {
    .e-oregon {
      width: 58%; } }
  @media (min-width: 1500px) {
    .e-oregon {
      width: 21%; } }

.sw-washington {
  background-image: url("../img/c-oregon1.jpg");
  background-position: center;
  width: 96%; }
  @media (min-width: 968px) {
    .sw-washington {
      width: 34%; } }
  @media (min-width: 1500px) {
    .sw-washington {
      width: 21%; } }

.portland {
  background-image: url("../img/urban2.jpg");
  width: 96%; }
  @media (min-width: 968px) {
    .portland {
      width: 34%; } }
  @media (min-width: 1500px) {
    .portland {
      width: 21%; } }

.col-gorge {
  background-image: url("../img/waterfall1.jpg");
  width: 96%; }
  @media (min-width: 968px) {
    .col-gorge {
      width: 58%; } }
  @media (min-width: 1500px) {
    .col-gorge {
      width: 21%; } }

.c-oregon {
  background-image: url("../img/alpine2.jpg"); }
  @media (min-width: 968px) {
    .c-oregon {
      width: 96%; } }
  @media (min-width: 1500px) {
    .c-oregon {
      width: 46%; } }

.green-bar {
  height: 5px;
  width: 100px;
  background-color: #3f990f;
  position: relative;
  top: 300px; }

.corner-text {
  position: relative;
  top: 320px;
  font-family: Garamond, Georgia, serif;
  font-size: 1.35rem;
  text-shadow: 1px 2px 1.5px black; }

h1 {
  font-weight: bold; }

.hero-subtext {
  font-family: Garamond, Georgia, serif;
  font-size: 1rem;
  letter-spacing: 3px;
  text-shadow: 1px 2px 1.5px black;
  z-index: 2;
  position: relative;
  top: -20px; }
  @media (min-width: 968px) {
    .hero-subtext {
      font-size: 1.5rem;
      letter-spacing: 4px;
      top: 10px; } }
  @media (max-width: 550px) {
    .hero-subtext {
      font-size: .9rem;
      top: -20px; } }

.ulc-logo {
  position: relative;
  top: 20px; }

.mid-nav {
  display: none;
  height: 70px;
  width: 100vw;
  border-top: 1px solid #000;
  background-image: url("../img/footer-background.jpg");
  background-repeat: repeat; }
  @media (min-width: 968px) {
    .mid-nav {
      display: flex;
      justify-content: space-between;
      height: 100px; } }

.mid-nav ul {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px; }

.mid-nav li {
  padding: 15px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #a9a9a0;
  font-size: .9rem; }
  .mid-nav li:hover {
    color: #fff;
    cursor: pointer; }
  @media (min-width: 1200px) {
    .mid-nav li {
      font-size: 1.2rem; } }

#green-text {
  color: #3f990f; }
  #green-text:hover {
    color: #fff;
    cursor: pointer; }

#white-text {
  color: #fff; }
  #white-text:hover {
    color: #3f990f;
    cursor: pointer; }

#search {
  position: relative;
  top: 30px;
  right: 70px; }

.icon-bg {
  background-image: url(../img/icon-background.png);
  height: 90px;
  width: 90px;
  border-radius: 100%;
  margin: 0 auto; }

#raft-icon img,
#basecamp-icon img,
#canoe-icon img,
#backpacking-icon img,
#photo-icon img,
#custom-icon img {
  height: 45px;
  width: 45px;
  position: relative;
  top: 22px;
  left: 23px; }

#canoe-icon img {
  height: 55px;
  width: 55px;
  top: 15px;
  left: 18px; }

#small-logo {
  float: left;
  font-size: 1.15em;
  position: relative;
  top: -30px; }

#big-logo img {
  height: 150px;
  width: 225px;
  position: relative;
  top: 120px;
  left: -80%;
  display: none; }
  @media (min-width: 968px) {
    #big-logo img {
      display: inline-block; } }

#oregon {
  display: block;
  height: 200px;
  width: 200px; }

.oregon-logo img {
  position: relative;
  top: 20px;
  left: 15px; }
  @media (max-width: 550px) {
    .oregon-logo img {
      display: block;
      margin: 10px auto; } }
  @media (min-width: 968px) {
    .oregon-logo img {
      height: 100px;
      width: 150px;
      left: 30px; } }

.footer-top {
  background-color: #343433;
  height: 150px;
  color: #a9a9a0;
  width: 90vw;
  margin: 0 auto;
  padding: 2.5rem;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222; }
  @media (max-width: 550px) {
    .footer-top {
      padding: 2.5rem 1rem; } }

.footer-bottom {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: .9rem;
  background-color: #343433;
  height: 350px;
  color: #a9a9a0;
  width: 80vw;
  padding: 2.5rem;
  margin: 0 auto; }
  @media (max-width: 968px) {
    .footer-bottom {
      padding: 2.5rem .5rem; } }

.bottom-container {
  width: 100vw; }
  @media (min-width: 968px) {
    .bottom-container {
      width: 80vw;
      margin: 0 auto; } }

.bottom-container li:hover {
  color: white;
  cursor: pointer; }

.footer-bottom li {
  padding: 1.25rem 1.25rem 1.25rem 0rem;
  border-bottom: 1px solid #646461; }

.design {
  color: #fff;
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

.elephant {
  color: #22d62e;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold; }

#big-logo {
  float: right;
  position: relative;
  top: -90px; }

#col-1, #col-2 {
  width: 25%;
  float: left;
  margin: 0 5%; }
  @media (min-width: 968px) {
    #col-1, #col-2 {
      width: 25%;
      margin: 0% 2%; } }

#icons {
  display: block;
  position: relative;
  left: 20px;
  top: 30px; }
  @media (min-width: 968px) {
    #icons {
      top: 250px;
      left: -500px; } }

#copyright {
  display: block;
  position: relative;
  top: 60px;
  left: 30px; }
  @media (min-width: 968px) {
    #copyright {
      top: 300px;
      left: -500px; } }

#copy-top {
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1200px;
  text-align: center; }
  @media (max-width: 550px) {
    #copy-top {
      font-size: 1.3rem;
      text-align: center; } }

#email {
  color: #3f990f;
  font-size: 1rem;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

#contact-info {
  color: #a9a9a0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 2rem; }

#copyright {
  color: #3f990f; }
  @media (min-width: 968px) {
    #copyright {
      position: relative;
      top: 260px; } }

@media (min-width: 968px) {
  .bottom-content {
    display: inline-block;
    position: relative;
    bottom: 240px;
    left: 540px; } }

/*# sourceMappingURL=app.css.map */
