$white: #fff;
$brightgreen: #22d62e;
$green: #3f990f;
$lightgrey: #a9a9a0;
$darkgrey: #343433;
$black: #000;

$font-stack-primary: 'Helvetica Neue', Helvetica, sans-serif;
$font-stack-secondary: Garamond, Georgia, serif;
$font-stack-tertiary: 'Open Sans', Arial, sans-serif;

$text-shadow: 1px 2px 1.5px black;


* {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

.th {
  overflow: hidden;
  position: relative;
  top: -5px;
}

#body {
  background-color: #343433;
  color: #a9a9a0;
}

#grid-sorting-data {
  background-color: white;
}

#grid-header {
  color: #a9a9a0;
  font-size: 32px;
  padding: 24px 24px 16px 24px;
}

#left-buttons {
    float: left;
    margin: 8px 4px;
    margin-bottom: 12px;
    position: relative;
    top: 4px;
    left: 4px;
}

.footer-top {
  background-color: #343433;
  height: 60px;
  color: #a9a9a0;
  padding: 2.5rem;
  border-top: 2px solid #222;
  border-bottom: 2px solid #222;
}

.footer-bottom {
  font-size: .9rem;
  background-color: #343433;
  height: 250px;
  color: #a9a9a0;
  padding: 2.5rem;
}

.bottom-container li {
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.footer-bottom li {
  padding: 1.25rem 1.25rem 1.25rem 0rem;
  border-bottom: 1px solid $darkgrey;
}

#big-logo {
  position: relative;
  right: 30px;
  top: 80px;
}

#col-1,
#col-2 {
  width: 25%;
  float: left;
  margin: 0 5% 0 10%;
}

#copyright {
  display: block;
  position: relative;
  top: 60px;
  left: 30px;
}

#copy-top {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 auto;
  text-align: center;
}

#email {
  color: #3f990f;
  font-size: 1rem;
}

#contact-info {
  color: #a9a9a0;
  font-size: 1.2rem;
  line-height: 2rem;
}

#copyright {
  color: #3f990f;
}
