$white: #fff;
$orange: #dc7725;
$purple: #451351;
$lightgrey: #a9a9a0;
$medgrey: #8e8e8a;
$darkgrey: #646461;
$darkergrey: #464646;
$darkestgrey: #343433;
$black: #000;

$font-stack-primary: 'Cardo', 'Crimson Text', Georgia, serif;
$font-stack-secondary: 'Fjalla One', Helvetica, sans-serif;
$font-stack-tertiary: 'Open Sans', Arial, sans-serif;

* {
  box-sizing: border-box;
}
