$white: #fff;
$orange: #22d62e;
$purple: #451351;
$green: #3f990f;
$lightgrey: #a9a9a0;
$medgrey: #8e8e8a;
$darkgrey: #646461;
$darkergrey: #464646;
$darkestgrey: #343433;
$black: #000;

$font-stack-primary: 'Helvetica Neue', Helvetica, sans-serif;
$font-stack-secondary: Garamond, Georgia, serif;
$font-stack-tertiary: 'Open Sans', Arial, sans-serif;

* {
  box-sizing: border-box;
}

body {
  background-color: $darkestgrey;
}
