
h1 {
  font-weight: bold;
}

.green-bar {
  height: 5px;
  width: 100px;
  background-color: $green;
  position: relative;
  top: 300px;
}

.corner-text {
  position: relative;
  top: 320px;
  font-family: $font-stack-secondary;
  font-size: 1.35rem;
  text-shadow: $text-shadow;
}

.ulc-logo {
  position: relative;
  top: 20px;
}

.mid-nav {
  display: none;
  height: 70px;
  width: 100vw;
  border-top: 1px solid $black;
  // background-image: url("../img/footer-background.jpg");
  // background-repeat: repeat;
  @media (min-width: 968px) {
    display: flex;
    justify-content: space-between;
    height: 100px;
  }
}

.mid-nav ul {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
}

.mid-nav li {
  padding: 15px;
  font-family: $font-stack-primary;
  color: $lightgrey;
  font-size: .9rem;
  &:hover {
    color: $white;
    cursor: pointer;
  }
  @media (min-width: 1200px) {
    font-size: 1.2rem;
  }
}

.oregon-logo img {
  position: relative;
  top: 20px;
  left: 15px;
  @media (max-width: 550px) {
    display: block;
    margin: 10px auto;
    top: -2px;
  }
  @media (min-width: 968px) {
    height: 100px;
    width: 150px;
    left: 30px;
  }
}

.icon-bg {
  background-image: url(../img/icon-background-comp.png);
  height: 90px;
  width: 90px;
  border-radius: 100%;
  margin: 0 auto;
}

#green-text {
  color: $green;
  &:hover {
    color: $white;
    cursor: pointer;
  }
}

#white-text {
  color: $white;
  &:hover {
    color: $green;
    cursor: pointer;
  }
}

#search {
  position: relative;
  top: 30px;
  right: 70px;
}

#s-oregon-icon img,
#sw-washington-icon img,
#gorge-icon img,
#c-oregon-icon img,
#e-oregon-icon img,
#portland-icon img {
  height: 45px;
  width: 45px;
  position: relative;
  top: 22px;
  left: 23px;
}

#small-logo {
  float: left;
  font-size: 1.15em;
  position: relative;
  top: -30px;
}

#big-logo img {
  height: 150px;
  width: 225px;
  position: relative;
  top: 120px;
  left: -50%;
  display: none;
  @media (min-width: 968px) {
    display: inline-block;
}


#oregon {
  display: block;
  height: 200px;
  width: 200px;
}
}
