.green-bar {
  height: 5px;
  width: 100px;
  background-color: $green;
  position: relative;
  top: 300px;
}

.corner-text {
  position: relative;
  top: 320px;
  font-family: $font-stack-secondary;
  font-size: 1.35rem;
  text-shadow: 1px 2px 1.5px black;
}

h1 {
  font-weight: bold;
}

.hero-subtext {
  font-family: $font-stack-secondary;
  font-size: 1rem;
  letter-spacing: 3px;
  text-shadow: 1px 2px 1.5px black;
  z-index: 2;
  position: relative;
  top: -20px;
  @media (min-width: 968px) {
    font-size: 1.5rem;
    letter-spacing: 4px;
    top: 70px;
  }
  @media (max-width: 550px) {
    font-size: .9rem;
    top: -20px;
  }
}

.ulc-logo {
  position: relative;
  top: 20px;
}

.mid-nav {
  display: none;
  height: 70px;
  width: 100vw;
  border-top: 1px solid $black;
  background-image: url("../img/footer-background.jpg");;
  background-repeat: repeat;
  @media (min-width: 968px) {
    display: flex;
    justify-content: space-between;
    height: 100px;
  }
}

.mid-nav ul {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
}

.mid-nav li {
  padding: 15px;
  font-family: $font-stack-primary;
  color: $lightgrey;
  font-size: .9rem;
  &:hover {
    color: $white;
    cursor: pointer;
  }
  @media (min-width: 1200px) {
    font-size: 1.2rem;
  }
}

#green-text {
  color: $green;
  &:hover {
    color: $white;
    cursor: pointer;
  }
}

#white-text {
  color: $white;
  &:hover {
    color: $green;
    cursor: pointer;
  }
}

#search {
  position: relative;
  top: 30px;
  right: 70px;
}

.icon-bg {
  background-image: url(../img/icon-background.png);
  height: 90px;
  width: 90px;
  border-radius: 100%;
  margin: 0 auto;
}

#raft-icon img,
#basecamp-icon img,
#canoe-icon img,
#backpacking-icon img,
#photo-icon img,
#custom-icon img {
  height: 45px;
  width: 45px;
  position: relative;
  top: 22px;
  left: 23px;
}

#canoe-icon img {
  height: 55px;
  width: 55px;
  top: 15px;
  left: 18px;
}

#small-logo {
  float: left;
  font-size: 1.15em;
  position: relative;
  top: -30px;
}

#big-logo img {
  height: 150px;
  width: 225px;
  position: relative;
  top: 120px;
  left: -80%;
  display: none;
  @media (min-width: 968px) {
    display: inline-block;

  }
  @media (min-width: 1200px) {

  }
}

#oregon {
  display: block;
  height: 200px;
  width: 200px;
}

.oregon-logo img {
  position: relative;
  top: 20px;
  left: 15px;
  @media (max-width: 550px) {
    display: block;
    margin: 10px auto;
  }
  @media (min-width: 968px) {
    height: 100px;
    width: 150px;
    left: 30px;
  }
}
