
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 968px) {
  .mid-nav {
    display: flex;
    align-items: center;
  }

  .nav-bar li {
    padding: 25px;
    font-family: $font-stack-secondary;
    font-size: .9rem;
    letter-spacing: 2px;
    line-height: 75%;
    &:hover {
      color: $brightgreen;
      cursor: pointer;
    }
  }
}

.c-oregon, .s-oregon {
  height: 420px;
  width: 96%;
  margin: 4% 2%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $white;
  padding: 20px;
  &:hover {
    .icon-bg{
      cursor: pointer;
      transform: scale(1.3);
      transition: all .2s ease-in-out;
    }
      transition-duration: .3s;
  }
}

.s-oregon {
  margin-top: 24px;
  background-image: url("../img/winter1-comp.jpg");
  @media (min-width: 968px) {
    width: 96%
  }
  @media (min-width: 1500px) {
    width: 46%;
  }
}

.e-oregon, .sw-washington, .portland, .col-gorge {
  height: 420px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $white;
  padding: 20px;
  margin: 4% 2%;
  &:hover {
    .icon-bg{
      cursor: pointer;
      transform: scale(1.3);
      transition: all .2s ease-in-out;
      }
    }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 1% auto;
  justify-content: space-around;
  width: 100vw;
}

.e-oregon {
  background-image: url("../img/hiking1-comp.jpg");
  width: 96%;
  margin-top: 24px;
  @media (min-width: 968px) {
    width: 58%;
  }
  @media (min-width: 1500px) {
    width: 21%;
  }
}

.sw-washington {
  background-image: url("../img/c-oregon1-comp.jpg");
  background-position: center;
  width: 96%;
  margin-top: 24px;
  @media (min-width: 968px) {
    width: 34%;
  }
  @media (min-width: 1500px) {
    width: 21%;
  }
}

.portland {
  @extend .sw-washington;
  background-image: url("../img/urban2-compressed.jpg");
}

.col-gorge {
  @extend .e-oregon;
  background-image: url("../img/waterfall1-comp.jpg");
}

.c-oregon {
  margin-top: 24px;
  background-image: url("../img/alpine2-comp.jpg");
  @media (min-width: 968px) {
    width: 96%;
  }
  @media (min-width: 1500px) {
    width: 46%
  }
}
